/* add CSS class and element and selectors here */
 body {
      background-color: lightblue;
      font-size: 150%;
    }
    
    .myClass {
      background-color: gray;
      color: blue
    }
    
    .example {
      background-color:green;
      border: red 15px solid;
      font-size:85pt;
      text-align: center;
      cursor: pointer;
    }
    
    #abbysClass {
      color:orange;
      
    }